/* Home Container */
.home-container {
  position: relative;
  z-index: 1;
  min-height: 100vh;
  display: block;
}

/* Welcome Section */
.welcome-section {
  position: relative;
  background: url('/src/images/homepage_background.png') no-repeat center center;
  background-size: cover;
  height: 100vh;
  color: white;
  overflow: hidden;
  display: flex;
  justify-content: center;
  align-items: center;
}

/* Text Styling */
.display-3 {
  font-family: 'Roboto', sans-serif;
  font-size: 3rem;
  font-weight: bold;
}

.order-heading {
  font-family: 'Poppins', sans-serif; 
  font-size: 4rem; 
  font-weight: 1000; 
  color: black;
}

.text-black {
  position: relative;
  z-index: 2; 
  color: black;
}

.btn {
  font-size: 1.25rem;
  padding: 10px 20px;
  margin: 0 10px;
}
