.customer-profile {
    background-color: #f4f4f4;
}
.update-profile {
    font-family: 'Arial', sans-serif;
    background-color: #f7f7f7;
}
  
.profile-container {
    background-color: #ffffff;
    padding: 2rem;
    border-radius: 10px;
}
  
.profile-img {
    width: 150px;
    height: 150px;
    border: 5px solid #dee2e6;
    margin-bottom: 20px;
}
  
.profile-container h2 {
    font-size: 2rem;
    color: #343a40;
}
  
.profile-container p {
    font-size: 1.1rem;
    color: #495057;
}

